@{
    ViewData["Title"] = "Our Services";
}

<div class="container mt-4">
    <h2 class="text-center">Our Services</h2>

    <div class="row mt-4">

        <div class="col-md-4">
            <div class="card">
                <img src="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Consulting</h5>
                    <p class="card-text">Professional advice to improve your business performance.</p>
                    <a asp-controller="Services" asp-action="Consulting" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <img src="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Training</h5>
                    <p class="card-text">Corporate training programs for employees and managers.</p>
                    <a asp-controller="Services" asp-action="Training" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>

    </div>
</div>